<div class="container mx-auto py-8">
  <header class="text-center mb-12">
    <h1 class="text-4xl font-bold mb-2">Edit Food Item</h1>
    <p class="text-lg mb-4">Update the details of your menu item.</p>
  </header>

  <div class="row justify-content-center">
    <div class="col-md-4 register-Menu">
      <!-- form card register -->
      <div class="card-body">
        <form [formGroup]="MenuForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" formControlName="name" />
            <!-- error -->
            <div class="text-danger" *ngIf="submitted && myForm['name'].errors?.['required']">
              Name is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="inputDesc">Desc</label>
            <input class="form-control" type="text" formControlName="desc" />
            <!-- error -->
            <div class="text-danger" *ngIf="submitted && myForm['desc'].errors?.['required']">
              Enter your desc.
            </div>
            <div class="text-danger" *ngIf="submitted && myForm['desc'].errors?.['pattern']">
              Enter valid desc.
            </div>
          </div>
          <div class="mb-3">
            <label for="inputPrice">Price</label>
            <input class="form-control" type="text" formControlName="price" />
            <!-- error -->
            <div class="text-danger" *ngIf="submitted && myForm['price'].errors?.['required']">
              Enter your price.
            </div>
            <div class="text-danger" *ngIf="submitted && myForm['price'].errors?.['pattern']">
              Enter valid price.
            </div>
          </div>
          <div class="mb-3">
            <label for="inputCuisine">Cuisine</label>
            <input class="form-control" type="text" formControlName="cuisine" />
            <!-- error -->
            <div class="text-danger" *ngIf="submitted && myForm['cuisine'].errors?.['required']">
              Enter your cuisine.
            </div>
            <div class="text-danger" *ngIf="submitted && myForm['cuisine'].errors?.['pattern']">
              Enter valid cuisine.
            </div>
          </div>
          <div class="d-grid">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
